.curriculum-outer-section {
    text-align: left;
    width: 30%;
    height: 100vh;
    background-color: rgb(204, 240, 204);
    overflow: scroll;
}

.curriculum-inner-section {
    text-align: left;
    padding-left: 20px;
}