.word-tree {
    display: flex;
    align-items: center;
    position: relative;
    height: 60vh;
}

.word-tree__line {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 8px;
    height: 100%;
    background-color: brown;
}

.word-tree__nodes {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.word-tree__node {
    position: absolute;
    left: 0;
    width: 160px;
    height: 60px;
    background-color: rgb(204, 240, 204);
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(103, 156, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}