.tab-buttons {
    display: flex;
    padding-top: 20px;
}

.tab-buttons .inactive {
    background-color: rgb(224, 57, 57);
    min-width: 25%;
    border-color: black;
}

.tab-buttons .active {
    background-color: rgb(204, 240, 204);
    min-width: 25%;
}

.tab-content {
    margin-top: 10px;
}