.unfolding-tabs .tab-title .inactive {
    display: flex;
    justify-content: left;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    width: 90%;
    background-color: rgb(75, 87, 83);
}

.unfolding-tabs .tab-title .active {
    display: flex;
    justify-content: left;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    width: 90%;
    background-color: rgb(224, 57, 57);
}

.unfolding-tabs .tab-content {
    justify-content: left;
    background-color: rgb(204, 240, 204);
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;

}

ul {
    list-style-type: square;
}