.profile-section {
    text-align: center;
    width: 25%;
    height: 100vh;
    overflow: scroll;
    background-color: rgb(24, 31, 24);
    color: white;
}

.profile-card {
    background-color: rgb(138, 173, 138);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);

}