.container {
  display: flex;
}

.links-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

a {
  margin-right: 5px;
  padding: 5px;
  color: rgb(204, 240, 204);
}

ul {
  list-style-type: disc;
}