.container {
  display: flex;
}

.curriculum-outer-section {
  text-align: left;
  width: 40%;
  background-color: rgb(204, 240, 204);
}

.curriculum-inner-section {
  text-align: left;
  padding-left: 20px;
}

.skills-section {
  text-align: left;
  padding-left: 50px;
  width: 35%;
  background-color: rgb(103, 156, 103);
}

.links-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

a {
  margin-right: 5px;
  padding: 5px;
  color: rgb(204, 240, 204);
}

ul {
  list-style-type: disc;
}